﻿<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Gestion Expedientes", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            @if (Session["Usuario"] != null)
            {
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li>@Html.ActionLink("Cargar Datos", "CargaGrupos", "CargaDatos")</li>
                    <li>@Html.ActionLink("Grupos", "Index", "Grupo")</li>                   
                    <li>@Html.ActionLink("Expediente", "Solicitante", "Expedientes")</li>
                    <li>@Html.ActionLink("FinalizacionEtapa", "Expediente", "Etapas")</li>
                    <li>@Html.ActionLink("ListaExpedientes", "FiltroPorId", "Expedientes")</li> 
                    <li>@Html.ActionLink("EtapaFinalizadasTramite", "ListaTramites", "Tramite")</li> 
                    <li>@Html.ActionLink("Logout", "Logout", "Login")</li>
                 </ul>
             
            </div>
            }
            else
            {
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav"> 
                        <li>@Html.ActionLink("Registro", "Create", "Usuario")</li>
                        <li>@Html.ActionLink("Login", "Login", "Login")</li>
                        <li>@Html.ActionLink("Cargar Datos", "CargaGrupos", "CargaDatos")</li>
                       
                    </ul>

                </div>

            }
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mi aplicación Enzo Monica</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
