﻿@model IEnumerable<ObligatorioP3Parte2.Models.Dominio.Grupo>

@{
    ViewBag.Title = "Index";
}
@if (Session["Usuario"] == null) { @Html.Action("Index", "Home") }
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.codGrupo }) |
            @Html.ActionLink("Details", "Details", new { id=item.codGrupo }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.codGrupo })
        </td>
    </tr>
}

</table>
