﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>GESTIONES</h1>
    <p class="lead">En esta aplicacion los usuarios podran gestionar Expedientes con sus tramites y etapas</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Mas Info &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Comenzando</h2>
        <p>
           Primero debera Loggearse, si no tiene un usuario registrese en el siguiente boton
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Registro &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Podra cargar archivos con informaciones de otras sucursales</h2>
        <p>Para eso debera loggearse y tocar la opcion cargar datos.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Mas Info &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Gestion y listado</h2>
        <p>Una vez cargado los archivos podra gestionar los tramites en expedientes y generar listados de los mismos</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Mas info &raquo;</a></p>
    </div>
</div>