﻿@model ObligatorioP3Parte2.Models.Dominio.Etapa

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Etapa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.lapso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lapso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.codigoEtapa }) |
    @Html.ActionLink("Back to List", "Index")
</p>
