﻿@model ObligatorioP3Parte2.Models.Dominio.Expediente
@if (Session["Usuario"] == null)
{ @Html.Action("Index", "Home") }
@{
    ViewBag.Title = "Expediente";
}

<h2>Expediente</h2>


@using (Html.BeginForm("Expediente", "Etapas", FormMethod.Post))


{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Expediente</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.id, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Buscar" class="btn btn-default" />
            </div>
        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
