﻿@model ObligatorioP3Parte2.Models.Dominio.ViewModels.FuncionarioViewModel
@if (Session["Usuario"] == null)
{ @Html.Action("Index", "Home") }
@{
    ViewBag.Title = "ListaFuncionarios";
}

<h2>Lista de Funcionarios e imagen</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Elija el funcionario, y la imagen que desea guardar</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.UnFuncionario, htmlAttributes: new { @class = "control-label col-md-2" })
             @Html.DropDownListFor(model => model.email, Model.LosFun)
             @Html.HiddenFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.HiddenFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.imagen
           )
            </div>
            <div class="editor-field">
                <input type="file" name="imagen" id="imagen" />
                @Html.ValidationMessageFor(model => model.imagen)

            </div>



        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}


