﻿@model IEnumerable<ObligatorioP3Parte2.Models.Dominio.FinalizacionEtapa>
@if (Session["Usuario"] == null)
{ @Html.Action("Index", "Home") }
@{
    ViewBag.Title = "ListaEtapas";
}

<h2>ListaEtapas</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.etapa.codigoEtapa)
        </th>
         <th>
            @Html.DisplayNameFor(model => model.fechaFinaliza)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.imagen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Finalizo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <th>
            @Html.DisplayFor(model => item.etapa.codigoEtapa)
        </th>
        <td>
            @Html.DisplayFor(modelItem => item.fechaFinaliza)
        </td>
        <td>
           <img  src="@(HttpRuntime.AppDomainAppPath)Fotos\@Html.DisplayFor(modelItem => item.imagen)" />
           
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Finalizo)
        </td>
     
    </tr>
}

</table>
