﻿@model IEnumerable<ObligatorioP3Parte2.Models.Dominio.Expediente>
@if (Session["Usuario"] == null)
{ @Html.Action("Index", "Home") }
@{
    ViewBag.Title = "FiltroPorId";
}

<h2>Listado de expedientes</h2>


@using (Html.BeginForm("FiltroPorId", "Expedientes"))
{
    <p>
        Busqueda por id expdiente: @Html.TextBox("id")<br />
        <input type="submit" value="Filtrar" />
    </p>
}

@using (Html.BeginForm("FiltroPorCedula", "Expedientes"))
{
    <p>
        Busqueda por cedula del solicitante: @Html.TextBox("cedula")<br />
        <input type="submit" value="Filtrar" />
    </p>
}

@using (Html.BeginForm("FiltroPorFuncionario", "Expedientes"))
{
    <p>
        Expedientes de un funcionario: @Html.TextBox("funcionario")<br />
        <input type="submit" value="Filtrar" />
    </p>
}
@using (Html.BeginForm("FiltroPorExpedienteCulminado", "Expedientes"))
{
    <p>
        Expedientes culminados
        <input type="submit" value="Filtrar" />
    </p>
}
@using (Html.BeginForm("FiltroPorExpedienteNoCulminado", "Expedientes"))
{
    <p>
        Expedientes NO culminados
        <input type="submit" value="Filtrar" />
    </p>
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.emailLogueado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.solcitante.cedula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaInicio)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.emailLogueado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.solcitante.cedula)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaInicio)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
